<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
              [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}">
  <!-- <mat-icon class="routeIcon">{{item.iconName}}</mat-icon> -->
  {{item.displayName}}

  <!-- *ngIf="item.children && item.children.length" -->
  <span fxFlex >
    <span fxFlex></span>
    <mat-progress-bar style="margin-top: 10px;width: 80%;" *ngIf="item.IsCalled == -1" mode="indeterminate"></mat-progress-bar>

    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-menu-list *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-menu-list>
</div>
